@import './ui/styles/variables.module.scss';
:root {
  background: rgb(26, 27, 26);
  background: linear-gradient(
    83deg,
    rgba(26, 27, 26, 1) 0%,
    rgba(25, 25, 25, 1) 49%,
    rgba(0, 0, 0, 1) 151616%
  );
  color: $white;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
