@import './variables.module.scss';
@import './mixins.module.scss';

.button {
  padding: $size-14 $size-40;
  @include button-styles;
  box-shadow: $button-shadow;

  &:hover {
    box-shadow: $button-shadow-hover;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.buttonIcon {
  width: $size-58;
  height: $size-46;
  padding: $size-10;
  @include button-styles;
  box-shadow: $button-shadow;
  display: flex;
  align-items: center;
  transition: all 0.5s;

  .icon {
    margin-right: $size-24;
  }

  &:hover {
    box-shadow: $button-shadow-hover;
  }

  .text {
    // opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: $text-bold;
    font-size: $size-16;
  }
}

.buttonScroll {
  background-color: transparent;
  border: none;
  cursor: pointer;

  p {
    writing-mode: vertical-lr;
    text-align: center;
    margin: auto;
    margin-bottom: $size-12;
    letter-spacing: 0.5px;
  }

  &:hover {
    font-weight: 700;
  }
}

.buttonText {
  @include button-styles;
  padding: $size-16 $size-12;
  box-shadow: $button-shadow;
  font-weight: 700;
  &:hover {
    box-shadow: $button-shadow-hover;
  }
}

.buttonDisable {
  background-color: $gray;
}

.leftButton {
  border-radius: $left-radius;
}

.rightButton {
  border-radius: $right-radius;
}

.buttonScrollContainer {
  position: fixed;
  bottom: $size-40;
  right: $size-10;
}

.buttonHome {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: $size-30;
}

@include responsive(l) {
  .buttonIcon {
    &:hover {
      box-shadow: $button-shadow-hover;
      width: 190px;

      .text {
        animation-name: opacity;
        animation-duration: 0.5s;
      }
    }
  }
}
