@import './mixins.module.scss';

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 230px;
  height: 230px;
}

@include responsive('l') {
  .logo {
    width: 500px;
    height: 500px;
  }
}
