@import './variables.module.scss';

@mixin button-styles {
  border: none;
  border-radius: $size-6;
  background-color: $black;
  font-size: $size-12;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}
