@import './variables.module.scss';
@import './mixins.module.scss';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: 70vh;
  z-index: 2;
  top: 0;
  right: 0;
}

.containerMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.containerButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: $size-20;

  &:first-of-type {
    margin-top: $size-30;
  }
}

@include responsive(m) {
  .main {
    height: 70vh;
    position: fixed;
  }
  .containerMenu {
    height: 70vh;
  }

  .containerButtons {
    &:last-of-type {
      display: flex;
    }
  }
}
