@import './variables.module.scss';

.main {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
}

.containerMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
}

.containerButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: $size-20;

  &:first-of-type {
    margin-top: $size-40;
  }
}

.home {
  margin-top: $size-40;
}
