@import './variables.module.scss';

.main {
  height: $fill-window;
  background-color: #4a7454;
}

.projectContainer {
  display: flex;
  flex-direction: column;

  .titleContainer {
    padding: 0 $size-58 0 $size-30;
    margin-bottom: $size-40;
    margin-top: $size-80;
  }

  .textContainer {
    order: 2;
    padding: 0 $size-58 0 $size-30;
    margin-top: $size-24;

    .title {
      display: none;
    }
  }

  .carouselContainer {
    order: 1;
    width: 100%;

    .img {
      // width: 100%;
    }
  }
}

.technologies {
  display: none;
}
