@import './variables.module.scss';
@import './buttons.module.scss';

@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}

.main {
  min-height: $fill-window;
  display: flex;
  flex-direction: column;
  gap: $size-38;
  padding: $container-padding;
}

.section {
  &:first-of-type {
    margin-top: $size-90;
  }
}

.content {
  margin-top: $size-30;
}

.language {
  display: flex;
  gap: $size-12;

  p:first-of-type {
    margin-bottom: $size-20;
  }
}

.softskills {
  display: flex;
  gap: $size-12;
  flex-wrap: wrap;
}

.skills {
  display: flex;
  gap: $size-8 $size-12;
  flex-wrap: wrap;
}

.skillContainer {
  svg {
    width: $size-36;
    height: $size-36;
  }

  .skillName {
    display: none;
  }
}

@include responsive(m) {
  .main {
    padding: $container-l-padding;
    gap: $size-38;
  }

  .softskills {
    width: 50%;
  }

  .skills {
    gap: $size-24 $size-16;
  }

  .skillContainer {
    width: $size-80;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $size-12;

    svg {
      width: $size-58;
      height: $size-58;
    }

    .skillName {
      display: block;
      text-align: center;
      font-weight: $text-bold;
    }
  }

  .section {
    &:first-of-type {
      margin-top: $size-70;
    }
  }

  .language {
    display: block;
  }
}
