@import './variables.module.scss';
@import './buttons.module.scss';

.main {
  height: $fill-window;
  margin-top: $size-120;
  display: flex;
  flex-direction: column;
  gap: $size-50;
  padding: $container-padding;
}

.section {
}

.content {
  margin-top: $size-30;
}

.language {
  p:first-of-type {
    margin-bottom: $size-20;
  }
}

.softskills {
  display: flex;
  gap: $size-12;
  flex-wrap: wrap;
}

.skills {
  display: flex;
  gap: $size-12 $size-12;
  flex-wrap: wrap;

  svg {
    width: $size-36;
    height: $size-36;
  }
}

@include responsive(m) {
  .main {
    padding: $container-l-padding;
    gap: $size-38;
    margin-top: $size-70;
  }

  .softskills {
    width: 300px;
  }

  .skills {
    svg {
      width: $size-58;
      height: $size-58;
    }
  }
}
