@import './variables.module.scss';
@import './mixins.module.scss';

.title {
  font-size: $size-24;
  font-weight: $text-bold;
  text-align: left;
}

.paragraph {
  font-size: $size-12;
  font-weight: $text-ligth;
}

@include responsive(l) {
  .title {
    font-size: $size-36;
  }

  .paragraph {
    font-size: $size-16;
  }
}
